body {
  margin: 0;
  padding: 0;
  color: #000000; }

.App {
  text-align: center;
  font-family: 'Helvetica'; }

ul {
  list-style: none;
  display: inline-flex;
  width: 100%; }

li {
  cursor: pointer;
  flex: 1; }

a {
  text-decoration: none;
  color: #000000; }

h1 {
  color: #109053; }

.logo {
  max-width: 800px; }

.default-content {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.container {
  max-width: 1360px;
  margin: 0 auto; }

.header {
  padding: 0 20px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 16px 0 #909090; }

.header-content {
  align-items: center; }

.logo {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  float: left;
  text-align: left;
  padding: 0 20px;
  vertical-align: middle;
  color: #ffffff; }

.nav {
  list-style: none;
  width: 75%;
  display: inline-block;
  font-size: 16px;
  float: right;
  text-align: right;
  margin: 5px 0 0;
  padding: 0;
  vertical-align: middle; }
  .nav img {
    height: 70px; }
  .nav li {
    display: inline-block;
    margin: 0 15px;
    font-size: 16px; }
  .nav a {
    text-decoration: none;
    color: #333333; }
    .nav a:hover {
      color: #ffffff; }
